### Ames, Iowa Data Cleaning
- Before we begin constructing an ML model, the DataCleaner() function will do this following:
    - Impute null values, either with a meaningful value or an "N/A" string to convert later.
    - Assign integers to ordinal categories whose values are currently represented by strings.  These need to be converted into a non-string data type to represent a meaningful value for our ML model.
    - Vectorize nominal values, since their values are not ordinal they must be encoded into dummy columns.

In [1]:
import pandas as pd

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [2]:
def DataCleaner(df):
    
    #Imputing the values for Lot Frontage, since it was the only column we can't just fill with 0 or "NA"

    combined_df = pd.concat([train_df, test_df], axis = 0)
    combined_df.isnull().shape
    combined_df['Lot Frontage'].isnull().sum()

    IR1_median = combined_df.loc[combined_df['Lot Shape'] == "IR1",'Lot Frontage'].median()
    IR2_median = combined_df.loc[combined_df['Lot Shape'] == "IR2",'Lot Frontage'].median()
    IR3_median = combined_df.loc[combined_df['Lot Shape'] == "IR3",'Lot Frontage'].median()
    Reg_median = combined_df.loc[combined_df['Lot Shape'] == "Reg",'Lot Frontage'].median()

    #Calculated from the concatenated df's.  I felt the median was more represntative based on SalePrice.
    
    
    df['Lot Frontage'].fillna(0, inplace = True)
    
    new_list = []
    df['Lot Frontage'].fillna(0, inplace = True)
    for row in range(0,df.shape[0]):

        if df.loc[row,'Lot Frontage'] != 0:
            new_list.append(df.loc[row,'Lot Frontage'])

        elif df.loc[row,'Lot Frontage'] == 0:

            if df.loc[row,:].loc['Lot Shape'] == "IR1":
                new_list.append(IR1_median)

            if df.loc[row,:].loc['Lot Shape'] == "IR2":
                 new_list.append(IR2_median)

            if df.loc[row,:].loc['Lot Shape'] == "IR3":
                 new_list.append(IR3_median)

            if df.loc[row,:].loc['Lot Shape'] == "Reg":
                 new_list.append(Reg_median)

    df['Lot Frontage'] = new_list
    
    df['Pool QC'].fillna('NA', inplace = True)
    df['Misc Feature'].fillna('NA', inplace = True)
    df['Alley'].fillna("NA", inplace = True)
    df['Fence'].fillna("NA", inplace = True)
    df['Fireplace Qu'].fillna("NA", inplace = True)
    df['Garage Finish'].fillna("NA", inplace = True)
    df['Garage Qual'].fillna("NA", inplace = True)
    df['Garage Yr Blt'] = train_df['Year Built']
    df['Garage Cond'].fillna("NA", inplace = True)
    df['Garage Type'].fillna("NA", inplace = True)
    df['Bsmt Exposure'].fillna("NA", inplace = True)
    df['BsmtFin Type 2'].fillna("NA", inplace = True)
    df['BsmtFin Type 1'].fillna("NA", inplace = True)
    df['Bsmt Qual'].fillna("NA", inplace = True)
    df['Bsmt Cond'].fillna("NA", inplace = True)
    df['Mas Vnr Area'].fillna(0.0, inplace = True)
    df['Mas Vnr Type'].fillna("None", inplace = True)
    df['Bsmt Half Bath'].fillna(0.0, inplace = True)
    df['Bsmt Full Bath'].fillna(0.0, inplace = True)
    df['Bsmt Unf SF'].fillna(0.0, inplace = True)
    df['BsmtFin SF 1'].fillna(0.0, inplace = True)
    df['Total Bsmt SF'].fillna(0.0, inplace = True)
    df['BsmtFin SF 2'].fillna(0.0, inplace = True)  
    df['Electrical'].fillna('SBrkr', inplace = True)
    df['Garage Area'].fillna(0.0, inplace = True)
    df['Garage Cars'].fillna(0.0, inplace = True)
    df['MS SubClass'] = df['MS SubClass'].astype('str')

    # Assigning values to ordinal categories

    lot_shape_maps = {
        "Reg" : 0,
        "IR1" : 1,
        "IR2" : 2,
        "IR3" : 3
    }

    df['Lot Shape'] = df['Lot Shape'].map(lot_shape_maps);

    land_slope_maps = {
        "Gtl":0,
        "Mod":1,
        "Sev":2
    }

    df['Land Slope'] = df['Land Slope'].map(land_slope_maps)

    bsmt_qual_maps = {
        "NA":0,
        "Po":1,
        "Fa":2,
        "TA":3,
        "Gd":4,
        "Ex":5
    }

    df['Bsmt Qual'] = df['Bsmt Qual'].map(bsmt_qual_maps)

    bsmt_cond_maps = {
        "NA":0,
        "Po":1,
        "Fa":2,
        "TA":3,
        "Gd":4,
        "Ex":5
    }

    df['Bsmt Cond'] = df['Bsmt Cond'].map(bsmt_cond_maps)

    bsmt_fin_maps = {
        "GLQ": 6,
        "ALQ": 5,
        "BLQ": 4,
        "Rec": 3,
        "LwQ": 2,
        "Unf": 1,
        "NA": 0
    }

    bsmt_exp_maps = {
        "Gd": 4,
        "Av": 3,
        "Mn": 2,
        "No": 1,
        "NA": 0
    }

    df['Bsmt Exposure'] = df['Bsmt Exposure'].map(bsmt_exp_maps)

    df['BsmtFin Type 1'] = df['BsmtFin Type 1'].map(bsmt_fin_maps)
    df['BsmtFin Type 2'] = df['BsmtFin Type 2'].map(bsmt_fin_maps)

    exter_maps = {
        "Ex":4,
        "Gd":3,
        "TA":2,
        "Fa":1,
        "Po":0
    }

    df['Exter Qual'] = df['Exter Qual'].map(exter_maps)
    df['Exter Cond'] = df['Exter Cond'].map(exter_maps)

    heating_maps = {
        "Ex": 4,
        "Gd": 3,
        "TA": 2,
        "Fa": 1,
        "Po": 0
    }

    df['Heating QC'] = df['Heating QC'].map(heating_maps)

    kitchen_maps = {
        "Ex": 4,
        "Gd": 3,
        "TA": 2,
        "Fa": 1,
        "Po": 0
    }

    df['Kitchen Qual'] = df['Kitchen Qual'].map(kitchen_maps)

    function_maps ={
           "Typ": 7,
           "Min1": 6,
           "Min2": 5,
           "Mod": 4,
           "Maj1": 3,
           "Maj2": 2,
           "Sev": 1,
           "Sal": 0
    }

    df['Functional'] = df['Functional'].map(function_maps)

    fireplace_maps = {
        "Ex": 5,
        "Gd": 4,
        "TA": 3,
        "Fa": 2,
        "Po": 1,
        "NA": 0

    }

    df['Fireplace Qu'] = df['Fireplace Qu'].map(fireplace_maps)

    garage_finish_maps = {
        "Fin":3,
        "RFn":2,
        "Unf":1,
        "NA":0,
    }

    df['Garage Finish'] = df['Garage Finish'].map(garage_finish_maps)

    garage_qual_cond_maps = {
        "Ex": 5,
        "Gd": 4,
        "TA": 3,
        "Fa": 2,
        "Po": 1,
        "NA": 0

    }

    df['Garage Qual'] = df['Garage Qual'].map(garage_qual_cond_maps)
    df['Garage Cond'] = df['Garage Cond'].map(garage_qual_cond_maps)

    pave_maps = {
        "Y":2,
        "P":1,
        "N":0
    }

    df['Paved Drive'] = df['Paved Drive'].map(pave_maps)

    poolqc_maps={
        "Ex": 4,
        "Gd": 3,
        "TA": 2,
        "Fa": 1,
        "NA": 0
    }

    df['Pool QC'] = df['Pool QC'].map(poolqc_maps)

    util_maps = {
        "AllPub": 2,
        "NoSewr": 1,
        "NoSeWa": 0,
    }

    df['Utilities'] = df['Utilities'].map(util_maps)

    fence_maps = {
           "GdPrv":4,
           "MnPrv":3,
           "GdWo":2,
           "MnWw":1,
           "NA":0
    }

    df['Fence'] = df['Fence'].map(fence_maps)

    electrical_maps = {
        "SBrkr": 4,
        "FuseA": 3,
        "FuseF":2,
        "FuseP":1,
        "Mix":0
    }

    df['Electrical'] = df['Electrical'].map(electrical_maps)

In [3]:
DataCleaner(train_df)
DataCleaner(test_df)

In [4]:
# Need to cut out Sale Condition in train set, since it's not in the test.
train_df.drop('Sale Condition', axis = 1, inplace = True)

- First we're going to consider the basic numerical values first.  For now, we'll prep an alternate
    dataframe that has ordinal categories mapped as well as the nominal categories converted to dummies.
    We're going to pick predictors first via EDA, then later utilize Ridge and Lasso algorithms to perform
    feature selection on all of the features together.

In [5]:
def Master_df():
    nominal_list = ['MS SubClass','Exterior 1st','Exterior 2nd',
                                 'MS Zoning', 'Street', 'Alley', 'Lot Config',
                                 'Land Contour', 'Neighborhood', 'Condition 1',
                                 'Condition 2', 'Bldg Type', 'House Style',
                                 'Roof Style', 'Roof Matl','Exterior 1st',
                                 'Exterior 2nd','Mas Vnr Type','Foundation',
                                 'Heating', 'Central Air', 'Garage Type',
                                 'Misc Feature', 'Sale Type'
                                ]

    train_nominal1_df = train_df[nominal_list[1:13]]
    train_nominal2_df = train_df[nominal_list[13:]]
    concat_nom_df = pd.concat([
        pd.get_dummies(train_nominal1_df),
        pd.get_dummies(train_nominal2_df),
        pd.get_dummies(train_df['MS Zoning'])],axis = 1)

    print(concat_nom_df.shape)

    numeric_list = []
    for item in train_df.columns:
        if item not in nominal_list:
            numeric_list.append(item)

    df_1 = train_df.loc[:,numeric_list];
    print(df_1.shape)

    master_train_df = pd.concat([df_1,concat_nom_df], axis = 1)
    print(master_train_df.shape)
    
    return master_train_df

In [6]:
master_train_df = Master_df()

master_train_df.head()

(2051, 197)
(2051, 59)
(2051, 256)

,Id,PID,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,...,Sale Type_New,Sale Type_Oth,Sale Type_WD,A (agr),C (all),FV,I (all),RH,RL,RM
0,109,533352170,74.0,13517,1,2,0,6,8,1976,...,0,0,1,0,0,0,0,0,1,0
1,544,531379050,43.0,11492,1,2,0,7,5,1996,...,0,0,1,0,0,0,0,0,1,0
2,153,535304180,68.0,7922,0,2,0,5,7,1953,...,0,0,1,0,0,0,0,0,1,0
3,318,916386060,73.0,9802,0,2,0,5,5,2006,...,0,0,1,0,0,0,0,0,1,0
4,255,906425045,82.0,14235,1,2,0,6,8,1900,...,0,0,1,0,0,0,0,0,1,0

In [7]:
master_train_df.to_pickle('./assets/master_train.pkl')

train_df.to_pickle('./assets/train_cleaned.pkl')

In [8]:
## Checking to make sure it pickled correctly:
pd.read_pickle('./assets/master_train.pkl').head()

,Id,PID,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,...,Sale Type_New,Sale Type_Oth,Sale Type_WD,A (agr),C (all),FV,I (all),RH,RL,RM
0,109,533352170,74.0,13517,1,2,0,6,8,1976,...,0,0,1,0,0,0,0,0,1,0
1,544,531379050,43.0,11492,1,2,0,7,5,1996,...,0,0,1,0,0,0,0,0,1,0
2,153,535304180,68.0,7922,0,2,0,5,7,1953,...,0,0,1,0,0,0,0,0,1,0
3,318,916386060,73.0,9802,0,2,0,5,5,2006,...,0,0,1,0,0,0,0,0,1,0
4,255,906425045,82.0,14235,1,2,0,6,8,1900,...,0,0,1,0,0,0,0,0,1,0